<footer class="site-footer">

   <div class="background-gray">
      <div id="contact" class="container" style="text-align: center;">
         <h2>Contact</h2>
         <hr>
         <div class="row">
            <div class="contact">
               <a href="http://ca.linkedin.com/pub/steven-xu/76/263/18b/" target="_blank">
                  <span class="fa-stack fa-2x">
                     <i class="fa fa-circle-thin fa-stack-2x"></i>
                     <i class="fa fa-linkedin fa-stack-1x"></i>
                  </span>
               </a>
            </div>
            <div class="contact">
               <a href="https://github.com/stevenwenxu" target="_blank">
                  <span class="fa-stack fa-2x">
                     <i class="fa fa-circle-thin fa-stack-2x"></i>
                     <i class="fa fa-github fa-stack-1x"></i>
                  </span>
               </a>
            </div>
            <div class="contact">
               <a href="mailto:steven.xu13@gmail.com" target="_blank">
                  <span class="fa-stack fa-2x">
                     <i class="fa fa-circle-thin fa-stack-2x"></i>
                     <i class="fa fa-envelope fa-stack-1x"></i>
                  </span>
               </a>
            </div>
            <div class="contact">
               <a href="https://twitter.com/steven_xu11" target="_blank">
                  <span class="fa-stack fa-2x">
                     <i class="fa fa-circle-thin fa-stack-2x"></i>
                     <i class="fa fa-twitter fa-stack-1x"></i>
                  </span>
               </a>
            </div>
            <div class="contact">
               <a href="http://weibo.com/u/2611917557" target="_blank">
                  <span class="fa-stack fa-2x">
                     <i class="fa fa-circle-thin fa-stack-2x"></i>
                     <i class="fa fa-weibo fa-stack-1x"></i>
                  </span>
               </a>
            </div>
         </div>
      </div>
   </div>

</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<script>
   var $postList = $('.post-list');
   $postList.isotope({
      itemSelector: '.post-item',
      layoutMode: 'vertical',
   });
   var filters = {};
   $('#filters').on('click', 'button', function() {

      $(this).parent().children().removeClass('selected');
      $(this).addClass('selected');

      // var filterValue = $(this).attr('data-filter');
      var $buttonGroup = $(this).parent('.button-group');
      var filterGroup = $buttonGroup.attr('data-filter-group');
      var filterValue = "";
      filters[filterGroup] = $(this).attr('data-filter');
      for(var prop in filters) {
         filterValue += filters[prop];
      }
      // console.dir(filters);
      $postList.isotope({ filter: filterValue });

   });

</script>
