<footer class="site-footer">

   <div class="background-gray">
      <div id="contact" class="container" style="text-align: center;">
         <h2>Contact</h2>
         <hr>
         <div class="row">
            <div class="contact">
               <a href="http://ca.linkedin.com/pub/steven-xu/76/263/18b/" target="_blank">
                  <span class="fa-stack fa-2x">
                     <i class="fa fa-circle-thin fa-stack-2x"></i>
                     <i class="fa fa-linkedin fa-stack-1x"></i>
                  </span>
               </a>
            </div>
            <div class="contact">
               <a href="https://github.com/Steven-xu94" target="_blank">
                  <span class="fa-stack fa-2x">
                     <i class="fa fa-circle-thin fa-stack-2x"></i>
                     <i class="fa fa-github fa-stack-1x"></i>
                  </span>
               </a>
            </div>
            <div class="contact">
               <a href="mailto:steven.xu13@gmail.com" target="_blank">
                  <span class="fa-stack fa-2x">
                     <i class="fa fa-circle-thin fa-stack-2x"></i>
                     <i class="fa fa-envelope fa-stack-1x"></i>
                  </span>
               </a>
            </div>
            <div class="contact">
               <a href="http://weibo.com/u/2611917557" target="_blank">
                  <span class="fa-stack fa-2x">
                     <i class="fa fa-circle-thin fa-stack-2x"></i>
                     <i class="fa fa-weibo fa-stack-1x"></i>
                  </span>
               </a>
            </div>
         </div>
      </div>
   </div>


</footer>
