<footer class="site-footer">
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<script>
   var $postList = $('.post-list');
   $postList.isotope({
      itemSelector: '.post-item',
      layoutMode: 'vertical',
   });
   var filters = {};
   $('#filters').on('click', 'button', function() {

      $(this).parent().children().removeClass('selected');
      $(this).addClass('selected');

      // var filterValue = $(this).attr('data-filter');
      var $buttonGroup = $(this).parent('.button-group');
      var filterGroup = $buttonGroup.attr('data-filter-group');
      var filterValue = "";
      filters[filterGroup] = $(this).attr('data-filter');
      for(var prop in filters) {
         filterValue += filters[prop];
      }
      // console.dir(filters);
      $postList.isotope({ filter: filterValue });

   });

</script>
