<header class="site-header">

  <div class="wrapper">

    <nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
      <div class='container-fluid'>
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class='navbar-header'>
            <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#main-nav'>
               <span class='sr-only'>Toggle navigation</span>
               <!-- hamburger button -->
               <span class='icon-bar'></span>
               <span class='icon-bar'></span>
               <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' onclick="window.history.back()"><i class="fa fa-arrow-circle-left" style="margin-right: 10px"></i>Back</a>
         </div>
         
         <div class='collapse navbar-collapse' id='main-nav'>
<!--             <ul class='nav navbar-nav'>
               <li><a href='/blog'>Blog</a></li>
               <li><a href='/files/resume.pdf'>Resume</a></li>
            </ul>
            <ul class='nav navbar-nav navbar-right'>
               <li><a href='#profile'>Profile</a></li>
               <li><a href='#experiences'>Experiences</a></li>
               <li><a href='#abilities'>Abilities</a></li>
               <li><a href='#interests'>Interests</a></li>
               <li><a href='#contact'>Contact</a></li>
            </ul> -->
         </div>
      </div>
   </nav>

  </div>

</header>
